<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="2.0.0.0" id="sampleapp">
 
	<author href="http://www.example.com/"
          rim:copyright="Copyright 1998-2012 My Corp">My Corp</author>
 
	<name>App42 Sample</name>
 
	<description>
    A sample application to demonstrate some features.
	</description>
	
	<content src="UserSample.html" rim:allowInvokeParams="true"/>
	
	<access uri="*" subdomains="true" />
		<access uri="https://api.shephertz.com" subdomains="true" />  <!-- Access URL which will enable your api access  -->
		<access uri="http://www.somedomain.com" subdomains="true">
    </access>
 
  
</widget>